.title {
    @apply font-sans font-bold text-stone-800
    text-[1.75rem]
    md:text-[2rem]
    lg:text-[2.25rem];
}

.second-title {
    @apply font-sans font-semibold
    text-[1.375rem]
    md:text-[1.625rem]
    lg:text-[1.875rem];
}
